body {
    background-color: rgb(223, 223, 223);
    font-family: Arial;
}
h1 {
    font: 30px;
}
p {
    font-size: 20px; 
}
.titulo {
    margin: 20px;
}
.cinzento {
    font-size: 64px;
    color: #c6c6c6;
    margin: 90px;
}

.centro {
    display: grid;
    place-items: center;
    grid-template-areas: 
    'titulo titulo titulo titulo'
    'container container container container'
    'caixa1 caixa1 bike bike'
    'cinzento cinzento caixa2 caixa2'
    'rodape rodape rodape rodape'
    ;
    gap: 1px;
    margin: 10px;
    max-height: 1000px;
    padding: 10px;
}
.centro > section {
    background-color: #f7f7f7;
    margin-left: 50px;
    padding: 10px;
}

.titulo {
    grid-area: titulo;
}
.container {
    grid-area: container;
}
.caixa1 {
    grid-area: caixa1;
    padding: 10px;
    height: 80vh;
}
.bike {
    grid-area: bike;
    max-width: 112vh
}
.cinzento {
    grid-area: cinzento;
}
.caixa2 {
    grid-area: caixa2;
}
.rodape {
    grid-area: rodape;
}

.container {
    display: flex;
}
.container > div {
    background-color: #f7f7f7;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
.botao {
    background-color: #ee2211;
    color: #fff;
    padding: 10px;
    height: 50px;
    width: 100px;
    border: 1px solid #ee2211;
    border-radius: 5px;
}

.caixa2 > img {
    display: flex;
    flex-direction: column;
    
}
.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    margin-left: 37%;
    height: 5px;
    position: absolute;
    background-color: #ee2211;
}

.rodape {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}
